In [2]:
import os
import pandas as pd
os.chdir("D:\\program\\PYTHON\\CSV")
x=pd.read_csv("csv2.csv")
print(x)

      Name  Age  Gender Occupation    Salary       Location
0    Alice   28  Female   Engineer   80000.0       New York
1      Bob   35    Male     Doctor  120000.0    Los Angeles
2  Charlie   22    Male    Student       NaN         Boston
3    David   40    Male    Manager  100000.0        Chicago
4      Eva   30  Female    Teacher   60000.0  San Francisco
5    Frank   25    Male     Artist   50000.0        Seattle
6    Grace   32  Female  Scientist   90000.0         Austin

In [4]:
data=x.select_dtypes(exclude=["object"])#correlation can be done to only numeric dtypes
print(data)

   Age    Salary
0   28   80000.0
1   35  120000.0
2   22       NaN
3   40  100000.0
4   30   60000.0
5   25   50000.0
6   32   90000.0

In [13]:
#SYNTAX for CORRELATION: data_frame.corr(self,method="pearson")

corr_matr=data.corr()
print(corr_matr)

             Age    Salary
Age     1.000000  0.781885
Salary  0.781885  1.000000