In [7]:
import os
import pandas as pd
os.chdir("D:\\program\\PYTHON\\CSV")
data=pd.read_csv("sampleCsvFile.csv")
print(data)
print("\n",type(data))

   Rollno   Name  Age
0      20    ram   ??
1      18   ajay  NaN
2      19  shiva   ##

 <class 'pandas.core.frame.DataFrame'>

In [2]:
print(pd.read_csv("sampleCsvFile.csv",index_col=0))

         Name  Age
Rollno
20        ram   20
18       ajay   20
19      shiva   20

In [3]:
print(pd.read_csv("sampleCsvFile.csv",index_col=1))

       Rollno  Age
Name
ram        20   20
ajay       18   20
shiva      19   20

In [6]:
print(pd.read_csv("sampleCsvFile.csv",index_col=0))

         Name  Age
Rollno
20        ram   ??
18       ajay  NaN
19      shiva   ##

In [8]:
print(pd.read_csv("sampleCsvFile.csv",index_col=0,na_values=["??"]))

         Name  Age
Rollno
20        ram  NaN
18       ajay  NaN
19      shiva   ##

In [8]:
import os
import pandas as pd
os.chdir("D:\\program\\PYTHON\\CSV")
print(pd.read_csv("sampleCsvFile.csv",index_col=0,na_values=["??","##"]))

         Name   Age
Rollno
20.0      NaN  20.0
NaN      ajay  20.0
19.0    shiva   NaN

In [31]:
import os
import pandas as pd
os.chdir("D:\\program\\PYTHON\\TXT")
data=pd.read_table("Helloworld.txt",delimiter=" ")
print(data)
print(type(data))

Empty DataFrame
Columns: [Hello, world, everyone, Unnamed: 3]
Index: []
<class 'pandas.core.frame.DataFrame'>

In [1]:
import os
import pandas as pd
os.chdir("D:\\program\\PYTHON\\CSV")
data=pd.read_csv("sampleCsvFile.csv")
print(data)

   Rollno   Name Age
0    20.0    NaN  20
1     NaN   ajay  20
2    19.0  shiva  ##

In [2]:
print(data.index)

RangeIndex(start=0, stop=3, step=1)

In [3]:
print(data.columns)

Index(['Rollno', 'Name', 'Age'], dtype='object')

In [5]:
print(data.size)

9

In [6]:
print(data.shape)

(3, 3)

In [7]:
print(data.memory_usage())

Index     132
Rollno     24
Name       24
Age        24
dtype: int64

In [8]:
print(data.ndim)

2

In [10]:
print(data.head(2))#prints no.of mentioned rows

   Rollno  Name Age
0    20.0   NaN  20
1     NaN  ajay  20

In [12]:
print(data.tail(2))#prints no.of last rows as mentioned

   Rollno   Name Age
1     NaN   ajay  20
2    19.0  shiva  ##

In [15]:
print(data.at[2,"Name"])#prints the value in 2nd row name column

shiva

In [18]:
print(data.iat[2,1])#similar to at but uses only index

shiva

In [23]:
print(data.loc[2])#used to access required row

Rollno     19.0
Name      shiva
Age          ##
Name: 2, dtype: object

In [27]:
print(data.loc[:,"Name"])# : represents all rows

0      NaN
1     ajay
2    shiva
Name: Name, dtype: object

In [28]:
print(data.loc[1,"Name"])

ajay

In [29]:
print(data.at[1,"Name"])

ajay

In [15]:
import os
import pandas as pd
os.chdir("D:\\program\\PYTHON\\CSV")
data=pd.read_csv("sampleCsvFile.csv")
print(data.dtypes)#prints data type of each column

Rollno     int64
Name      object
Age       object
dtype: object

In [13]:
print(data)

   Rollno   Name Age
0      20    NaN  20
1      18   ajay  20
2      19  shiva  ##

In [27]:
print(data.dtypes.value_counts())

object    2
int64     1
Name: count, dtype: int64

In [29]:
#To select datas based on the data types
#Syntax: <data_frame>.select_dtypes(include=[<data_types>],exclude=[<data_types>])
print(data.select_dtypes(exclude=[object]))

   Rollno
0      20
1      18
2      19

In [30]:
print(data.select_dtypes(include=[object]))

    Name Age
0    NaN  20
1   ajay  20
2  shiva  ##

In [33]:
print(data.select_dtypes(include=[object],exclude=[int]))

    Name Age
0    NaN  20
1   ajay  20
2  shiva  ##

In [34]:
#info() is used to return concise summary of a dataframe
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rollno  3 non-null      int64
 1   Name    2 non-null      object
 2   Age     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None

In [36]:
#unique() is used to find the unique elements of a column
#Syntax: numpy.unique(array)
import numpy as np
print(np.unique(data["Rollno"]))

[18 19 20]

In [50]:
import os
import pandas as pd
os.chdir("D:\\program\\PYTHON\\CSV")
data=pd.read_csv("sampleCsvFile.csv",na_values=["##"])
print(data)

   Rollno   Name   Age
0      20    NaN  20.0
1      18   ajay  20.0
2      19  shiva   NaN

In [51]:
print(data.dtypes)

Rollno      int64
Name       object
Age       float64
dtype: object

In [62]:
#in above o/p if you wish the age must be in obejct data type but it is in float64 
#To convert the datatype explicitly use astype()
#Syntax data_frame.astype(dtype)
data["Age"]=data["Age"].astype("object")
data["Rollno"]=data["Rollno"].astype("float64")
print(data.dtypes)
print("\n",data)

Rollno    float64
Name       object
Age        object
dtype: object

    Rollno   Name   Age
0    20.0    NaN  20.0
1    18.0   ajay  20.0
2    19.0  shiva   NaN

In [72]:
#nbytes() is used to bytes occupied by the column
#Syntax: ndarray.nbytes
print("Name  :",data["Name"].nbytes)
print("Rollno:",data["Rollno"].nbytes)
print("Age   :",data["Age"].nbytes)

Name  : 24
Rollno: 24
Age   : 24

In [91]:
#replace() used to replace value with the desired value
#Syntax data_frame.replace([to_replace,value,..])
data=pd.read_csv("sampleCsvFile.csv")
print(data,"\n")
print(data["Age"],"\n")
data["Age"]=data["Age"].replace("##",20)
print(data["Age"])

   Rollno   Name Age
0      20    NaN  20
1      18   ajay  20
2      19  shiva  ##

0    20
1    20
2    ##
Name: Age, dtype: object

0    20
1    20
2    20
Name: Age, dtype: object

In [83]:
print(data.isnull())

   Rollno   Name    Age
0   False   True  False
1   False  False  False
2   False  False  False

In [84]:
print(data.isnull().sum())

Rollno    0
Name      1
Age       0
dtype: int64

In [92]:
import os
import pandas as pd
os.chdir("D:\\program\\PYTHON\\CSV")
x=pd.read_csv("csv1.csv")
print(x)

   Rollno   Name Gender   Age
0      18   Ajay   Male  20.0
1      19  Shiva   Male   NaN
2      20    Ram   Male  20.0

In [94]:
# series.value_counts() returns no.of occurences
print(x["Age"].value_counts(),"\n")
print(x["Name"].value_counts())

Age
20.0    2
Name: count, dtype: int64

Name
Ajay     1
Shiva    1
Ram      1
Name: count, dtype: int64

In [102]:
x.insert(3,"Months",0)
print(x)

   Rollno   Name Gender  Months   Age
0      18   Ajay   Male       0  20.0
1      19  Shiva   Male       0   NaN
2      20    Ram   Male       0  20.0